body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.mycanvas{
    background-color: black;
    background: url(star3.PNG), url(akash.png);
    background-position: 0px 0px, 0px 0px;
    background-repeat: repeat-x, repeat-x;
    animation: animate linear 10s infinite;
}

@keyframes animate{
    frmo{
        background-position: 0px 0px, 0px 0px;
    }
    to{
        background-position: -700px 0px, -500px 0px;
    }
}

#btn1{
    position: absolute;
    left: 150px;
}
#btn2{
    position: absolute;
    left: 500px;
}

#para1, #para2{
    position: relative;
    width: 600px;
    height: 300px;
}

#l1{
    width: 600px;
    height: 500px;
}

#th2{
    position: absolute;
    left: 180px;
    width: 400px;
}

td, th{
    border: solid;
    width: 50px;
    border-color: black;

}

.wrapit{
    top: 0;
    width: 420px;
    height: 300px;
    position: relative;
}

.firstdiv, .secondiv, .thirddiv{
    top: 0;
    position: absolute;
}

#row1{
    width: 50px;
}

#row2{
    width: 50px;   
}